<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>
<div>
    <nav>
        <h1>The Social Network</h1>
        Current user: {{request.user}}
    </nav>
    <hr>
    <div>
        <img src="https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1280&h=300&fit=crop&ixid=eyJhcHBfaWQiOjF9"
             alt="Cover picture image not found"
        />
        <hr>
    </div>
    <div>
        <form action="{% url 'add-friend' sender_pk=request.user.pk recipient_pk=user.pk %}"
              target="_blank">
            <button type="submit">
                Add friend
            </button>
        </form>
    </div>

    <h2>
        {{user.first_name}} {{user.last_name}}
    </h2>
    <div>
        <p>Username: {{user.username}}</p>
        <p>Email address: {{user.email}}</p>
    </div>
    <div>
        <div>
            <h3>
                Friends: None yet
            </h3>
        </div>
        <br>
        <div>
            Add a new friend
            <form>
                <label for="friend-search"></label>
                Name: <input
                    id="friend-search"
                    type="text"
                    name="username"
            />
                <input type="submit">
                <div id="possible-friends">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // Todo: continue here
   function addFriend() {
       $.ajax(
       )
   }

</script>-->


</body>
</html>